---
import ThemeToggle from './ThemeToggle'
---

<header>
    <nav
        class="flex h-12 w-full flex-row items-center bg-slate-200 dark:bg-gray-800"
    >
        <div class="title absolute float-left pl-3">
            <a href="/">
                <h1
                    class="text-lg font-bold transition duration-100 ease-linear hover:text-gray-800 dark:text-slate-200 dark:hover:text-white"
                >
                    gudoesdev
                </h1>
            </a>
        </div>

        <div class="mx-auto flex space-x-4">
            <a
                href="/"
                class="text-base text-gray-800 transition duration-100 ease-linear hover:text-black dark:text-slate-200 dark:hover:text-white"
                >Home</a
            >
            <a
                href="/about"
                class="text-base text-gray-800 transition duration-100 ease-linear hover:text-black dark:text-slate-200 dark:hover:text-white"
                >About</a
            >
            <a
                href="/blog"
                class="text-base text-gray-800 transition duration-100 ease-linear hover:text-black dark:text-slate-200 dark:hover:text-white"
                >Blog</a
            >
            <a
                href="/tags"
                class="text-base text-gray-800 transition duration-100 ease-linear hover:text-black dark:text-slate-200 dark:hover:text-white"
                >Tags</a
            >
        </div>

        <ThemeToggle client:load />
    </nav>
</header>
