---
export interface Props {
    title: string
}

const { title } = Astro.props

import Header from '../components/Header.astro'
---

<!DOCTYPE html>
<html lang="en" class="min-h-screen">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>
    </head>
    <body class="font-sans">
        <div
            id="loading"
            class="absolute z-20 flex min-h-screen w-full items-center justify-center bg-indigo-700 font-mono text-7xl text-white opacity-100 transition-opacity duration-150"
        >
            <svg
                class="-ml-1 mr-3 h-24 w-24 animate-spin text-white"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
            >
                <circle
                    class="opacity-25"
                    cx="12"
                    cy="12"
                    r="10"
                    stroke="currentColor"
                    stroke-width="4"></circle>
                <path
                    class="opacity-75"
                    fill="currentColor"
                    d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
                ></path>
            </svg>
        </div>
        <Header />
        <main
            class="absolute z-0 -mt-12 flex min-h-screen min-w-full flex-col items-center p-5 pt-16 dark:bg-gray-700 dark:text-slate-100"
        >
            <section class="mx-auto mb-5">
                <h1 class="text-left text-2xl">{title}</h1>
            </section>
            <slot />
        </main>
    </body>
</html>
<script>
    window.onload = function () {
        var loadingDiv = document.querySelectorAll('#loading')
        setTimeout(() => {
            loadingDiv[0].classList.add('opacity-0')
            setTimeout(() => {
                loadingDiv[0].classList.add('hidden')
            }, 150)
        }, 100)
    }
</script>
